@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* 
color y fondo de la pagina
*/

body {
    background-color: rgb(233, 250, 158);
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

/* 
color y fondo de los h1 
*/

h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(233, 250, 3);
    font-size: 50px;
}

/* 
color para los h2
*/

h2 {
    color: rgb(85, 32, 1);
    font-size: 30px;
}

/*
color para los h3
*/

h3 {
    color: rgb(32, 12, 0);
    font-size: 25px;
}

/*
color con class para diferenciar los p que tienen diferentes estilos 
*/

.Paletapro {
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(255, 254, 254);

}

/*
color para los p general
*/

p {
    color: rgb(0, 0, 0);
    font-size: 15px;
}